version: "3.7"  # optional since v1.27.0
services:
  twitter_harvest:
    build:
        context: .
        dockerfile: ./Dockerfile
    image: harvester
    environment:
      DB_NAME: twitter_db_test
      ADDRESS: http://admin:admin@${INSTANCE4}:15984/
      API_TOKENS: /app/twitter-api-tokens.csv